@{
    ViewData["Title"] = "Home Page";
}
@model HomeViewModel

<section class="hero bg-amber-100 h-100 flex items-center">
    <div class="container mx-auto">
        <h2 class="text-4xl font-bold">
            Learn about homeopathy straight from the horse&#8217;s mouth
        </h2>
    </div>
</section>

<div class="container mx-auto">
    <h1 class="font-bold text-3xl text-center">Featured Events</h1>
    @foreach (var ev in Model.Events)
    {
        <div class="grid gap-1 border border-blue-500 p-4">
            <span>@ev.Name</span>
            <span>@ev.BeginsAt.ToString("yyyy-MM-dd")</span>
            <span>@ev.EndsAt.ToString("yyyy-MM-dd")</span>
            <span>@ev.Description</span>
        </div>
    }
</div>