@using HomeoSapiens.Models.Components
@using Microsoft.AspNetCore.Localization
@{
    var links = new List<HeaderLinkModel>
    {
        new() { Href = "/", Children = "Home" },
        new() { Href = "/about", Children = "About us" },
        new() { Href = "/watch", Children = "Watch" },
        new() { Href = "/events", Children = "Events" },
        new() { Href = "/login", ClassName = "px-4 py-2 h-10 border-2 font-bold self-center", Children = "Sign in" },
    };

    var requestCulture = Context.Features.Get<IRequestCultureFeature>();
}

<header class="header h-header-height fixed left-0 right-0 border-b-2">
    <div class="flex items-center h-full px-4">
        <h1 class="font-bold text-3xl"><a href="/"><img src="/logo.webp" alt="Homeo Sapiens"
                                                        class="h-14 w-auto invert"/></a></h1>
        <nav class="text-xl navbar ml-auto h-full uppercase">
            <ul class="flex h-full items-center gap-2">
                <li>@requestCulture.RequestCulture.UICulture</li>
                @foreach (var link in links)
                {
                    @await Html.PartialAsync("Components/HeaderLink", link)
                }
            </ul>
        </nav>
    </div>
</header>

