<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - HomeoSapiens</title>
    <script type="importmap"></script>
    <environment include="Development">
        <!-- It's mandatory to use the full url for the Vite client script. -->
        <script type="module" src="http://localhost:5173/@@vite/client"></script>
        <script type="module" src="http://localhost:5173/src/main.ts"></script>
    </environment>
    <environment include="Production">
        <script type="module" vite-src="~/main.ts" asp-append-version="true"></script>
    </environment>
</head>
<body>
<main role="main" class="pb-3">
    @RenderBody()
</main>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
@await RenderSectionAsync("Scripts", required: false)
</body>
</html>